{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block bodyClass %} comparison {% endblock bodyClass %}
{% block content %}
    {% if products %}
        <div class="col-xs-12">
        <div class="df justify-content-end">
            <a href="#" class="btn btn-blue mb20 js-clear-comparison">{% trans 'Clear' %}</a>
        </div>
            <div class="table-scrollable">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td></td>
                            {% for product in products %}
                                <td class="js-comparison-{{product.id}}">
                                    <div class="df flex-direction-column align-items-center">   
                                        <div class="df justify-content-center por">
                                                <a href="#" class="js-comparison-remove-product comparison-remove-product" data-comparison-id="{{ product.id }}"><i class="glyphicon glyphicon-remove"></i></a>
                                            {% with product.images.first as huge_image %}
                                                <a class="df justify-content-center" rel="nofollow" href="{{ product.get_absolute_url }}">
                                                    {% if huge_image %}
                                                        <img class="img-responsive" alt="{{ product.name }}" src="{{ huge_image.thumbnails.medium }}">
                                                    {% else %}
                                                        <img alt="{{ product.name }}" src="{% static 'img/noimages/no-image-100.png' %}">
                                                    {% endif %}
                                                </a>
                                            {% endwith %}
                                        </div>
                                        <a class="df mt20 justify-content-center" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        <!-- <a href="#" class="js-comparison-remove-product" data-comparison-id="{{ product.id }}"><i class="glyphicon glyphicon-remove"></i></a> -->
                                    </div>
                                </td>
                            {% endfor %}

                        </tr>
                        {% for property_name, ppvs in groups_for_products.items %}
                            {% if property_name != "NB!" %}
                            <tr>
                                <td >{{ property_name }}</td>
                                {% for product_id, ppv in ppvs.items %}
                                    <td class="js-comparison-{{product_id}}">{% if ppv %}{{ ppv }}{% else %}-{%endif%}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {% trans 'Not selected any product.' %}
    {% endif %}
{% endblock %}