<div class="align-items-center df live-search-results-item">
	<div class="live-search-results-item--image-wrapp">
		<img src="/media/catalog/products/7d8b4c5edd54f531855b7899bb518eab_7uqGAlu.60x60.jpg" class="js-live-search-results-item--image live-search-results-item--image">
	</div>
	<div class="live-search-results-item--info-wrapp df flex-wrap">
		<span class="js-live-search-results-item--name live-search-results-item--name cw-100">Черные сандалеты 900 6060 S1 YAS Artra</span>
		<div class="live-search-results-item-prices df align-items-end">
			<span class="js-live-search-results-item--price live-search-results-item--wholesale-price"> Wholesale: 632.00 грн</span>
			<span class="live-search-results-item--retail-sale-price tac df justify-content-center align-items-end">
	            <span>Retail:</span> 
	            <span class="df flex-direction-column ml5 mr5">
	                <span class="sale-price">632,00 грн</span>
	                <span>300,00 грн</span>
	            </span>
	        </span>
    		<span class="live-search-results-item--retail-price tac df justify-content-center align-items-end">
                <span>Retail:</span> 632,00 грн</span>
            </span>
		</div>
	</div>
</div>