{% load i18n %}
<div class="col-xs-12" style="background: white">
    {% for item in cart.items.all %}
        <div class="row">
            <div class="col-xs-12 cart-item form-group">
                <div class="col-xs-3">
                    <input type="number" class="cart-item-amount form-control" name="{{ item.id }}" value="{{ item.amount }}" onkeyup="updateCartItems($(this));">
                </div>
                <div class="col-xs-3">{{ item.product.name }}</div>
                <div class="col-xs-3">{{ item.product.price }}</div>
                <div class="col-xs-2">
                    <a href="#" class="js-remove-cart-item pull-right" data-item-id="{{ item.id }}">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-xs-12">
        <p>{% trans "Total price"%}</p>
        <p class="cart-price">{% trans 'Products price' %}: {{cart.get_total_price}}</p>
        <p class="js-payment-price">{% trans 'Payment price' %}: {% if payment_price %}{{payment_price}}{% else %}0{% endif %}</p>
        {# for DENIS DEM4ENKO #}
        {# ask DENIS BORYAK about shipping price #}
        <p class="js-shipping-price">{% if shipping_price %}{{shipping_price}}{% else %}0{% endif %}</p>
        <p class="total-cart-price">{% trans 'Total'%}: {{total_price}}</p>
        <a href="{% url 'checkout' %}">{% trans 'Go to checkout'%}</a>
    </div>
</div>
