{% load filters_tags %}
{% load i18n %}
{% load static_blocks_tags %}

<fieldset class="{% if filter_data.filter.has_popular_options %} js-filter-has-popular filter-has-popular  {% endif %} filter-wrapper df flex-direction-column js-filter-wrapper">
    <div class="filter-name js-filter-name df"><span>{{filter_data.filter.name}}</span> <span class="carret js-carret"></span></div>
    <div class="filter-options-wrapper js-filter-options-wrapper df flex-direction-column">
        {% for option in filter_data.options %}
                <span class="filter-option-wrapp js-filter-option-wrapp print-hide {% if option.selected %} checked print-show{% endif %}" data-popular="{{option.popular}}">
                    <input
                        class="filter-checkbox"
                        type="checkbox"
                        name="{{filter_slug}}"
                        value="{{option.value}}"
                        id="{{filter_slug}}-{{option.value}}"
                        {% if not option|addition_for_fo:additions and not option.selected %}disabled{% endif %}
                        {% if option.selected %}checked{% endif %}>
                    <label for="{{filter_slug}}-{{option.value}}">{{option.name}}</label>
                    {# ({% if filter_data.filter.selected and not option.selected %}+{% endif %}{{option|addition_for_fo:additions}}) #}
                </span>
        {% endfor %}
        {% if filter_data.filter.has_popular_options %} 
            {% static_block 'popular_filters_text' %}
        {% endif %}
    </div>
</fieldset>