{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="df justify-content-between pagination-top-wrapp xs-flex-direction-column">	
	{% include "core/breadcrumbs.html" %}
	{% include "catalog/products_navigation.html" %}
	</div>
	<div id="products" class="df flex-wrap align-items-start">
		{% load filters_tags %}
		<div class="cw-15 lg-cw-20 md-cw-25 xs-cw-100 pr40 sm-cw-30 xs-pr15 xs-pl15">
		    {% filters_block products %}
		</div>
		<div class="cw-85 lg-cw-80 md-cw-75 products-wrap df flex-wrap sm-cw-70 xs-cw-100 align-items-start">
			{% include "catalog/products.html" %}
			{% include "catalog/ajax_load_next_page.html" %}
		</div>
	</div>
	<div class="pagination-bottom df justify-content-end mt15 xs-mt60 xs-ml5 xs-justify-content-center xs-mr5">
		{% include "catalog/products_navigation.html" %}
	</div>
{% endblock content %}
{% block reviews %}
    <section class="mb30">
        <div class="container">
            <div class="row df flex-direction-column">
                {% include 'reviewed_with_chains/reviews_block.html' %}
                <a href="#reviewed_with_chains_form" class="add-review-button btn-block mt9 btn btn-blue js-add-review-button">{% trans "Add review"%}</a>
                <div id="reviewed_with_chains_form"></div>
				<a href="{% url 'reviewed_with_chains_site_reviews' %}">{% trans 'All reviews' %}</a>
            </div>
        </div>
    </section>
{% endblock reviews %}