{% load static %}
{% load static_blocks_tags %}
{% load i18n %}
{% if products %}
    
{% for product in products %}
    <div class="df flex-direction-column cw-16-6 lg-cw-25 md-cw-33-3 sm-cw-50 xs-cw-50 category-product-item">
        <div class="cw-100 df flex-direction-column category-product-item-name mb10">
            <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
        </div>
        <div class="cw-100">
            <a href="{% url 'product_detail' product.slug %} " rel="nofollow">
                {% with product.images.first as image %}
                    {% if image %}
                        <img class="img-responsive" src="{{ image.thumbnails.large }}" title="{{ product.name }}">
                    {% else %}
                        <img class="img-responsive" src="{% static 'img/noimages/no-image-200.png' %}" alt="{{ product.name }}">
                    {% endif %}
                {% endwith %}
            </a>
        </div>
        <div class="buy-button-wrapp">
            <a href="{% url 'product_detail' product.slug %}" class="buy-button-on-category" rel="nofollow">{% static_block  "buy_button" %} </a>
        </div>
        <div class="cw-100">
                <p class="category-product-item-wholesale tac mt30">{% trans "Wholesale" %}: {{ product.price }} {% trans 'uah' %}</p>
            {% if product.sale %}
                <p class="category-product-item-retail mt10 mb10 tac df justify-content-center align-items-end">
                    <span>{% trans "Retail" %}:</span> 
                    <span class="df flex-direction-column ml5 mr5">
                        <span class="old-price">{{ product.retail_price }}  {% trans 'uah' %}</span>
                        <span>{{ product.sale_price }} {% trans 'uah' %}</span>
                    </span>
                </p>
            {% else %} 
                <p class="category-product-item-retail mt10 mb10 tac">{% trans "Retail" %}: {{ product.retail_price }} {% trans 'uah' %}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% else %}
    {% static_block  "no_products" %}        
{% endif %}
