{% load static %}
{% load static_blocks_tags %}
{% load i18n %}
{% if products %}
{% for product in products %}
    <div class="df flex-direction-column cw-16-6 lg-cw-20 md-cw-25 sm-cw-33-3 xs-cw-50 category-product-item">
        <div class="cw-100 df flex-direction-column category-product-item-name mb10">
            <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
        </div>
        <div class="cw-100">
            <a href="{% url 'product_detail' product.slug %} " rel="nofollow">
                {% with product.images.first as image %}
                    {% if image %}
                        <img class="img-responsive" src="{{ image.thumbnails.large }}" title="{{ product.name }}">
                    {% else %}
                        <img class="img-responsive" src="{% static 'img/noimages/no-image-200.png' %}" alt="{{ product.name }}">
                    {% endif %}
                {% endwith %}
            </a>
        </div>
        <div class="cw-100">
                <p class="category-product-item-wholesale tac mt30">{% trans "Wholesale" %}: {{ product.retail_price }} грн</p>
            {% if product.sale %}
                <p class="category-product-item-retail mt10 mb10 tac df justify-content-center align-items-end">
                    <span>{% trans "Retail" %}:</span> 
                    <span class="df flex-direction-column ml5 mr5">
                        <span class="old-price">{{ product.price }} грн</span>
                        <span>{{ product.sale_price }} грн</span>
                    </span>
                </p>
            {% else %} 
                <p class="category-product-item-retail mt10 mb10 tac">{% trans "Retail" %}: {{ product.price }} грн</p>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% else %}
    {% static_block "nothing_found" %}
{% endif %}