{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
    {% trans 'Checkout' %} - {{ block.super }}
{% endblock %}
{% block section %}checkout{% endblock %}

{% block breadcrumbs %}
    {# {% breadcrumbs _("Checkout") %} #}
{% endblock %}

{% block content %}
    {% if not cart %}
        <p>{% trans 'Cart is empty' %}</p>
    {% else %}
        <div class="checkout-form xs-pr10 xs-pl10">
            <h1 class="xs-fz30">{% trans "Order checkout" %}</h1>
            <form class="checkout-form form-horizontal df flex-wrap" 
                  method="post"
                  action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="df flex-direction-column cw-30 sm-cw-35 xs-cw-100">
                    <div class="cw-100">
                        <div class="pr30 xs-pr0">
                            {% bootstrap_form form %}
                        </div>
                    </div>
                    <div class="cw-100">
                        <div class="form-actions pr30 xs-pr0">
                            <button class="btn btn-blue btn-block" type="submit">{% trans 'Submit order' %}</button>
                        </div>
                    </div>
                </div>
                <div class="cw-70 sm-cw-65 xs-cw-100 xs-mt20">
                    <div id="cart-inline">
                        {% include 'checkout/checkout-detail.html' %}
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}