{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block section %}my-account{% endblock %}

{% block content %}
    <div class="my-account-body">
        <div>
            <h1>{% trans 'Password change' %}</h1>
        </div>
        <div class="alert alert-info">
            {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
        </div>

        <form action="{% url 'users_password_change' %}"
              method="post" class="form-horizontal">
            {% csrf_token %}

            {% bootstrap_form form %}

            <div class="form-actions">
                <input class="btn-yellow" type="submit" name="change_password" value="{% trans 'Change password' %}" />
            </div>
        </form>
    </div>
{% endblock %}
