span.review
{
    display: none;
}
#reviewed_with_chains_form .row > a
{
    font-size: 14px;
    font-size: 17px;
    font-weight: bold;

    display: block;
    float: left;

    box-sizing: border-box;
    width: 50%;
    height: 40px;
    /*display: none;*/
    margin: 0;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;

    color: #5a6b83 !important;
    border-bottom: 1px solid #bdd5ff;
    background: #e9f1ff;
}
#reviewed_with_chains_form .row > a:last-child
{
    border-left: 1px solid #bdd5ff;
}
#reviewed_with_chains_form .row > a:hover
{
    text-decoration: none;

    background: transparent;
}
#reviewed_with_chains_form .row
{
    margin-right: -10px;
    margin-left: -10px;
}
#reviewed_with_chains_form .row > a.active-link
{
    text-decoration: none;
    pointer-events: none;

    color: #3d4858!important;
    border-bottom: none;
    background: transparent;
}
/*ul{
    list-style: none;
}*/
.review .review_header .review_author,
.answer .review_header .review_author
{
    float: left;

    color: green;
}
.review .review_header .review_date,
.answer .review_header .review_date
{
    font-size: 12px;
    line-height: 20px;

    float: left;

    margin: 0 0 0 10px;

    color: grey !important;
}
.review .review_header .review_vote
{
    font-size: 12px;
    line-height: 20px;

    float: left;

    margin: 0 0 0 10px;

    color: grey !important;
}
.review .review_body,
.answer .review_body
{
    font-size: 14px;

    clear: both;
}
.review_body p
{
    word-wrap: break-word;
}
.review,
.answer
{
    margin: 15px 0;
}
.review p
{
    margin: 0;
}
.review .review_footer
{
    margin: 0 0 0 0;
}
.review .review_footer .rating
{
    font-size: 12px;

    text-align: right;
}
.review .review_footer .rating .rating_yes
{
    color: green !important;
}
.review .review_footer .rating .rating_no
{
    color: red !important;
}
.review .review_footer .rating .separate
{
    color: grey !important;
}
.add_reply_link
{
    text-decoration: none !important;

    color: #41a2d8 !important;
}
.add_reply_link span
{
    border-bottom: 1px dotted;
}
.add_reply_link:hover
{
    text-decoration: none !important;

    color: red;
}

.short-comment
{
    background-color: #d6d6d6;
}
.variant-reviews input[type='text'],
.variant-reviews textarea,
.model-reviews input[type='text'],
.model-reviews textarea,
.variant-reviews input[type='email'],
.model-reviews input[type='email']
{
    box-sizing: border-box;
    width: 100%;
    /*  padding: 14px;*/
    max-width: 100%;
}
.variant-reviews input[type='text'],
.model-reviews input[type='text'],
.variant-reviews input[type='email'],
.model-reviews input[type='email']
{
    height: 30px;
}
.variant-reviews textarea
{
    padding: 5px;
}
.bold
{
    font-weight: bold;
}
#reviewed_with_chains_form
{
    // border: 1px solid #bdd5ff;
    // border-bottom-width: 0;
    // -webkit-box-shadow: 0 2px #bcbbbb;
    // box-shadow: 0 2px #bdd5ff;
    // border-radius: 2px;
    // padding: 0 10px 10px 10px;
}
#reviewed_with_chains_form form
{
    margin-bottom: 0;
}
.pl30
{
    padding-left: 30px;
}
.pl30 li:last-child
{
    border-bottom: 1px solid #eaeaea;
}
div.review
{
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;

}
.short
{
    position: relative;

    overflow: hidden;

    height: 60px;
}

.short:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 16px;

    content: '';

    background: rgba(255,255,255,.6);
    background:    -moz-linear-gradient(top, rgba(255,255,255,.6) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,.6)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,.6) 0%, rgba(255,255,255,1) 100%);
    background:      -o-linear-gradient(top, rgba(255,255,255,.6) 0%, rgba(255,255,255,1) 100%);
    background:     -ms-linear-gradient(top, rgba(255,255,255,.6) 0%, rgba(255,255,255,1) 100%);
    background:         linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
a.js-more-info
{
    font-style: italic;

    margin-bottom: 10px;

    text-decoration: none;

    color: grey;
}
.js-review-comment,
.js-review-advantage
{
    margin-bottom: 10px !important;
}
.js-review-comment.short,
.js-review-advantage.short
{
    margin-bottom: 0 !important;
}
.button
{
    margin-bottom: 10px;

    cursor: pointer;
}
/*.open-reviews,.variant-reviews .btn{
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    width: 160px;
    padding: 7px 10px;
    background: #41b271;
    border: 0;
    border-bottom: 2px solid #348e5a;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: auto;
    line-height: 100%;
    text-transform: none;
    text-shadow: none;
    border-radius: 3px;
}*/
.show-more-reviews,
.show-all-reviews
{
    font-weight: bold;
    font-style: italic;
    line-height: 100%;

    display: block;
    float: left;

    width: auto;
    height: auto;
    margin: 15px 0;

    cursor: pointer;

    color: rgb(102, 102, 102);
}
.js-review-ajax-load
{
    display: block;

    min-width: 100px;
    min-height: 40px;

    background: url('/static/img/loading.gif') no-repeat center center;
}
.js-review-ajax-load.dashed-bottom
{
    margin: 0;

    border-bottom: none !important;
}
.dashed-bottom
{
    color: #3a67ab !important;
    border-bottom: 1px dashed !important;
}
textarea#id_advantage,
textarea#id_cons
{
    height: 42px;
}
.review-name-wraper,
.review-email-wraper,
.review-rating-wrapper
{
    width: 33.333%;
}
.review-name-wraper label,
.review-email-wraper label,
.review-rating-wrapper label,
.review-comment-wrapper label
{
    position: relative;
}
.review-name-wraper label:after,
.review-email-wraper label:after,
.review-rating-wrapper label:after,
.review-comment-wrapper label:after
{
    content: '*';
}

.review-email-wraper
{
    margin: 0 4.5%;
}
.review-comment-wrapper label,
.review-advantage-wrapper label,
.review-cons-wrapper label
{
    float: left;

    width: 20%;
}
.review-comment-wrapper .controls,
.review-advantage-wrapper .controls,
.review-cons-wrapper .controls
{
    float: left;

    width: 80%;
}
@media only screen and (max-width: 767px)
{
    .review-name-wraper,
    .review-email-wraper,
    .review-rating-wrapper
    {
        width: 100%;
        margin: 0;
    }
}
.review-rating-wrapper .error label
{
    color: #a94442;
}
.review-rating-wrapper .error .help-inline.error
{
    display: block;

    margin-top: 15px;

    color: #a94442;
}

.answers-list li
{
    border-bottom: 1px solid #f2f2f2;
}
