{% extends "base.html" %}
{% load reviews_tags %}

{% block content %}
	<div class="col-xs-12">
		<div class="col-xs-6">
			{% with product.images.first as huge_image %}
				<img src="{{ huge_image.thumbnails.huge }}" title="huge_image.title">
			{% endwith %}
		</div>
		<div class="col-xs-6">
			<div class="col-xs-12">
				<h1>{{ product.name }}</h1>
			</div>
			<div class="col-xs-12">
				{{ product.full_description }}
			</div>
			<div class="col-xs-12">
				{{ product.price }}
			</div>
		</div>
	</div>
    <div class="col-xs-12 reviews">
        <div class="reviews-group-by-parent" style="display:none" data-value="1"></div>
        <div class="questions-group-by-parent" style="display:none" data-value="1"></div>
        <div id="product-reviews">
            <div class="white">
                <div class="row-fluid">
                    <div class="span12">
						<div class="variant-reviews col-xs-6" id="variant-reviews">
							{% reviews_with_chains product 0 'reviews' %}
						</div>
                        <div class="variant-reviews col-xs-6" id="variant-comments">
                            {% reviews_with_chains product 1 'short_comment' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}