{% load paginator_tags %}
{% if paginator.num_pages > 1 %}
<div class="text-center">
    <ul class="pagination">
        {% define_page_range page_obj.number paginator.num_pages as page_range %}
        {% if 1 not in page_range %}
            <li class="first-page">
                <a href="?">&lt;&lt;</a>
            </li>
        {% endif %}
        {% if page_obj.has_previous %}
            <li class="previous-page">
                <a href="?{% pagination_params page_obj.previous_page_number %}">&lt;</a>
            </li>
        {% endif %}
        {% for page in page_range %}
            {% if page == page_obj.number %}
                <li class="active page-number"><span class="current">{{ page }}</span></li>
            {% else %}
                <li class="page-number"><a href="?{% pagination_params page %}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="next-page">
                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            </li>
        {% endif %}

        {% if paginator.num_pages not in page_range %}
            <li class="last-page">
                <a href="?{% pagination_params paginator.num_pages %}">&gt;&gt;</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}