{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block middle-slot %}{% endblock %}


{% block content %}
<div class="cw-100 xs-pl10 xs-pr10 mb30"> 
    {% if page %}
        <h1>{{ h1 }}</h1>
        <div class="info-page-full-text">
            <div class="mt20">
                {{ page.text|safe }}
            </div>
        </div>
        <div class="tar info-page-create-date mt10 mb10">{{ page.create_date }}</div>
    {% else %}
         {% if category %}
             <div class="info-all-news-block ">
               <h1>{{ h1 }}</h1>
            {% for article in pages %}

                <div class="news-item df flex-wrap cw-100 justify-content-between">
                    {% if article.icon %}
                        <div class="df news-item--image xs-cw-100 cw-15 lg-cw-20 md-cw-25 align-items-center sm-cw-35 justify-content-center">
                            <img class="img-responsive" src='{{ MEDIA_URL }}{{ article.icon }}' title="{{ article.title }}" alt="{{ article.title }}">
                        </div>
                        <div class="news-item--text-wrapp df xs-cw-100 cw-80 lg-cw-75 md-cw-70 sm-cw-60 flex-direction-column pl10 pr10" >
                            <div class="news-item--title">
                                <p class="h3 mt0 xs-mt10">
                                    <a href="{% url 'static_pages_page' category.slug article.slug %}">{{ article.title }}</a>
                                </p>
                            </div>
                            {% if article.preamble %}
                                <div class="news-item-preamble">
                                    {{ article.preamble|safe }}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="news-item--text-wrapp df cw-100 flex-direction-column pl10 pr10 pt10 pb10" >
                            <div class="news-item--title">
                                <p class="h3 mt0">
                                    <a href="{% url 'static_pages_page' category.slug article.slug %}">{{ article.title }}</a>
                                </p>
                            </div>
                            {% if article.preamble %}
                                <div class="news-item-preamble">
                                    {{ article.preamble|safe }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                

            {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
