@import 'mixins/colors.less';
@import 'mixins/solutions.less';
@import 'mixins/flex.less';
@import 'mixins/reductions.less';
@import 'mixins/columns.less';
@import 'mixins/mixins.less';

/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v3/pEbpp8gu02JrI5SDG9jj6g.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v3/sZoRRDfBcJL9e6dHdMU_Tg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v3/-A4eIjQkAwKL411pgtQ4VA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'), url(https://fonts.gstatic.com/s/exo2/v3/XcVNq7h_15hNJotQOnfwdhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'), url(https://fonts.gstatic.com/s/exo2/v3/vxP0mJ4Ah81pzPPpYPzpbBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'), url(https://fonts.gstatic.com/s/exo2/v3/CJVzeXcVfU8kDtg9_l0We_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
    
    * { 
        font-family: 'Exo 2', sans-serif;
    }
    
}

@media(min-width: @min-huge-screen){
    .container{
        width: 1570px;
    }
}
a{
    color: #01509D;
}

.header-wrapp{
    position: relative;
    background: white;
    z-index: 150 !important;
    box-shadow: none; 
    // transition: box-shadow .5s;
    padding: 10px 0;
    .is-sticky & {
        box-shadow: 0 0 5px 3px #ccc;
    }
}

.header{
    .site-logo{
        img{
            max-width: 145px;
        }
        .flex-order(1);
        width: 15%;
    }
    .search-wrapper{
        .flex-order(2);
        width: 33%;
        padding-right: 50px;
        .search-query{
            width: 100%;
            background: url(/static/img/search-icon.png) no-repeat;
            background-size: 20px;
            background-position: 5px;
            padding-left: 40px;
            font-size: 16px;
        }
        .live-search-results{
            position: absolute;
            width: 100%;
            left: 0;
            background: white;
            box-shadow: 0 0px 16px 1px #ccc;
            padding: 20px; 
            z-index: 1;
            // display: block !important;
            .live-search-results-item{
                margin-bottom: 15px;
                &:not(:last-of-type){
                    margin-bottom: 7px;
                    padding-bottom: 7px;
                    border-bottom: 1px solid #d2d2d2;
                }
                .live-search-results-item--image-wrapp{
                    margin-right: 15px;
                }
                .live-search-results-item--wholesale-price{
                    color: #9A6965;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
                .live-search-results-item--retail-price,
                .live-search-results-item--retail-sale-price{
                    font-size: 13px;
                    @media only screen and (max-width: @max-extrasmall-screen){
                        font-size: 12px;
                    } 
                }
                .live-search-results-item--name{
                    a{
                        color: #605D5C;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    
                }
            }
            @media only screen and (max-width: @max-large-screen) {
                width: 470px;
                transform: translateX(-50%);
                left: 50%;
            }
            @media only screen and (max-width: @max-extrasmall-screen){
                width: 100vw;
                left: -10px;
                transform: translateX(0);
                max-height: 70vh;
                overflow: auto;    
            }
        }
    }
    .header-phones{
        .flex-order(3);
        width: 18%;
        padding-right: 40px;
        a{
            color: #333;
            font-size: 14px;
        }
        .phones-bottom{
            font-size: 13px;
        }
    }
    .payment-delivery-wrapp{
        .flex-order(4);
        width: 10%;
    }

    .header-cart{
        .flex-order(5);
        width: 5%;
        .cart{
            width: 35px;
            margin: 0 auto;
            background-image: url('/static/img/shopping-cart-icon.png'); 
            height: 35px;
            text-align: center;
            position: relative;
            text-indent: 8px;

        }
        a{
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            &.clear-cart{
                font-weight: normal;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .header-user{
        .flex-order(6);
        width: 9%;
    }
    .lang-wrapp{
        .flex-order(7);
        width: 4%;
        .lang{
            a{
                display: block;
                width: 35px;
                height: 35px;
                margin: 0 auto;
                line-height: 31px;
                border: 2px solid black;
                text-align: center;
                color: black;
                font-size: 17px;
                .rounded(35px);
                text-decoration: none;
            }
        }
    }
    .faq-wrap{
        .flex-order(8);
        width: 5%;
        .faq-text{
            background: white;
            height: 70px;
            line-height: 70px;
            cursor: pointer;
            padding: 0 5px;
            border: 2px solid #fff;
            border-bottom: none;
            &:hover{
                .faq-list-wrapp{
                    .df;
                }
                border-color: #ccc;
                &:before{
                    display: block;
                }

            }
            .sandwitch{
                display: inline-block;
                margin-left: 7px;
                margin-bottom: -3px;
                width: 23px;
                i{
                    &:not(:last-of-type){
                        margin-bottom: 5px;
                    }
                    display: block;
                    border-bottom: 2px solid #9A6965; 
                }
            }

            .faq-list-wrapp{
                position: absolute;
                right: 0;
                display: none;
                width: 85%;
                background: white;
                z-index: 4;
                padding: 20px;
                border: 2px solid #ccc;
                top: 100%;
                max-height: 65vh;
                overflow: auto;

                a{
                    line-height: 20px;
                    font-size: 15px;
                    position: relative;
                    padding-left: 15px;
                    color: #333;
                    &:before{
                        content: "›";
                        font-size: 19px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 15px;
                        line-height: 20px;

                    }
                }
                .faq-list-item-heading{
                    font-size: 20px;
                }
            }   
        }
        
    }
    @media only screen and (min-width: @min-large-screen) and (max-width: @max-large-screen) {
        .site-logo{
            .flex-order(1);
            width: 20%;
        }
        .search-wrapper{
            .flex-order(2);
            width: 40%;
        }
        .header-phones{
            margin-top: 15px;
            .flex-order(6);
            width: 65%;
            .phones-left,
            .phones-right,{
                width: 33.3333%;
                .df;
                a{
                    margin-right: 15px;
                    margin-bottom: 0;
                }    
            }
            .phones-bottom{
                width: 33.3333%;
            }
        }
        .lang-wrapp{
            .flex-order(4);
            width: 10%;
        }
        .header-cart{
            .flex-order(3);
            width: 10%;
        }
        .header-user{
            width: 20%;
            .flex-order(5);
        }
        .payment-delivery-wrapp{
            width: 15%;
            margin-top: 15px;
            .flex-order(7);
        }
        .faq-wrap{
            .flex-order(8);
            width: 8%;
            margin-top: 15px;
            .faq-text{
                .faq-list-wrapp{
                    width: 80%;
                }
            }
        }
        
    }
    @media only screen and (min-width: @min-medium-screen) and (max-width: @max-medium-screen) {
        .site-logo{
            .flex-order(1);
            width: 25%;
        }
        .search-wrapper{
            .flex-order(2);
            width: 40%;
        }
        .header-phones{
            .flex-order(5);
            width: 65%;
            padding-right: 20px;
            .phones-left,
            .phones-right,{
                width: 33.3333%;
                .df;
                a{
                    margin-right: 10px;
                    font-size: 12px;
                    margin-bottom: 0;
                }    
            }
            .phones-bottom{
                font-size: 12px;
                width: 33.3333%;
            }
        }
        .lang-wrapp{
            .flex-order(7);
            width: 5%;
        }
        .header-cart{
            .flex-order(3);
            width: 11%;
        }
        .header-user{
            .flex-order(4);
            width: 24%;
        }
        .payment-delivery-wrapp{
            .flex-order(6);
            width: 15%;
        }
        .faq-wrap{
            .flex-order(8);
            width: 9%;
            .faq-text{
                .faq-list-wrapp{
                    width: 75%;
                }
            }
            .faq-list-item-wrapp{
                width: 33.33%;
            }
        }
    }
    @media only screen and (min-width: @min-small-screen) and (max-width: @max-small-screen) {
        .site-logo{
            .flex-order(1);
            width: 25%;
        }
        .search-wrapper{
            .flex-order(2);
            width: 40%;
        }
        .header-phones{
            .flex-order(5);
            width: 35%;
            padding-right: 20px;
            .phones-left,
            .phones-right,{
                a{
                    font-size: 13px;
                }    
            }
            .phones-bottom{
                font-size: 13px;
            }
        }
        .lang-wrapp{
            .flex-order(7);
            width: 5%;
        }
        .header-cart{
            .flex-order(3);
            width: 11%;
        }
        .header-user{
            .flex-order(4);
            width: 24%;
        }
        .payment-delivery-wrapp{
            .flex-order(6);
            width: 20%;
        }
        .faq-wrap{
            .flex-order(8);
            width: 10%;
            .faq-text{
                .faq-list-wrapp{
                    width: 70%;
                }
            }
            .faq-list-item-wrapp{
                width: 50%;
            }
        }
    }

    @media only screen and (max-width: @max-extrasmall-screen) {
        margin: 0 10px;
        .site-logo{
            .flex-order(1);
            width: 56%;
            img{
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
            }
        }
        .search-wrapper{
            .flex-order(3);
            width: 70%;
            padding-right: 0;
            .form-group{
                margin-bottom: 0;
            }
        }
        .header-phones{
            .dn;
            .flex-order(7);
        }
        .lang-wrapp{
            .flex-order(6);
            width: 10%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .header-cart{
            .flex-order(4);
            width: 25%;
        }
        .header-user{
            margin-bottom: 10px;
            margin-top: 10px;
            .flex-order(2);
            width: 44%;
        }
        .payment-delivery-wrapp{
            margin-top: 10px;
            margin-bottom: 10px;
            .flex-order(5);
            width: 37%;
        }
        .faq-wrap{
            .flex-order(7);
            width: 25%;
            .faq-text{
                .faq-list-wrapp{
                    width: 100%;
                }
            }
            .faq-list-item-wrapp{
                width: 100%;
            }
        }
    }
}

.apply-filter{
    position: absolute;
    left: 115%;
    bottom: 0;
    width: 120px;
}
.products-wrap{
    background: #F2F2F2;
    padding: 5px;
    .category-product-item{
        .category-product-item-name{
            height: 40px;
            overflow: hidden;
            line-height: 20px;
        }
        border: 5px solid #f2f2f2;
        .rounded(15px);
        padding: 5px;
        background: white;
        min-height: 375px;
        img{
            margin: 0 auto;
        }
        a{
            color: #605D5C;
            text-align: center;
            text-decoration: underline;
            font-size: 16px;
            margin-bottom: 10px;
        }
        .category-product-item-wholesale{
            color: #9A6965;
        }
        .category-product-item-retail{
            font-size: 13px;

        }
    }
}

.old-price{
    color: #aaa;
    font-size: 12px;
    font-style: italic;
    text-decoration: line-through;
}

.filter-wrapper{
    border-top: 1px solid #d1d1d1;
    padding: 10px 0;
    transition: margin, padding .3s;
    &.opened{
        padding: 20px 0;
        .filter-name{
            margin-bottom: 20px;
            .carret{
                &:before{
                    transform: rotate(0);
                }
            }
        }

    }
    &.filter-has-popular{
        .filter-option-wrapp{
            &[data-popular="False"]{
                display: none;
            }
        }
    }
    .filter-name {
        font-size: 18px;
        margin-bottom: 10px;
        cursor: pointer;
        .carret{
            position: relative;
            display: block;
            height: 20px;
            width: 20px;
            margin-left: 10px;
            &:before{
                transition: transform .3s;
                content: "›";
                position: absolute;
                left: 0;
                top: 5px;
                width: 100%;
                height: 100%;
                transform: rotate(90deg);
                transition: all .3s;
                line-height: 17px;
                text-align: center;
            }
        }
    }
    .filter-options-wrapper{
    }
    .filter-option-wrapp{
        input[type="checkbox"]{
            display: none;
             + label{
                padding-left: 25px;
                position: relative;
                margin-bottom: 5px;
                font-weight: normal;
                &:hover{
                    color: #093e80;
                    &:after{
                        .o(.5);
                    }
                }
                &:before{
                    content: "";
                    position: absolute;
                    height: 15px;
                    width: 15px;
                    border: 1px solid #d1d1d1;
                    left: 0;
                    top: 4px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    left: 2px;
                    display: block;
                    top: 8px;
                    width: 12px;
                    height: 5px;
                    border-left: 3px solid #093e80;
                    border-bottom: 2px solid #093e80;
                    transform: rotate(-63deg);
                    .o(0);
                }
             }
             &:checked{
                 + label{
                    color: #093e80;
                    &:after{
                        .o(1);
                    }

                 }
             }
        }
    }
    .filter-slider-amount{
        border: none;
        display: block;
        color: #093e80;
        margin-bottom: 10px;
    }
    .ui-slider-horizontal{
        height: 7px;
        .rounded(0);
    }
    .ui-widget-header{
        background: #093e80;
        // .o(.7);
    }
    .ui-state-default{
        top: -7px;
        width: 10px;
    }
    .ui-slider-horizontal .ui-slider-handle{
        margin-left: -3px;
        outline: none;
        &.ui-state-active{
            background: #f2f2f2;
            border-color: #093e80;
        }
    }
}
.btn-blue{
    .rounded(0);
    background: #093e80;
    color: white;
    font-size: 18px;
    transition: all .1s;
    &:hover,
    &:active,
    &:focus{
        color: white;
        background: #01509D;
    }
    &.buy-button{
        height: 70px;
        font-size: 25px;
    }
}   

.pagination{ 
    .rounded(0);
    li{
        a,
        span{
            color: #01509D;
            border: none;
            background-color:#f2f2f2;
            transition: all .3s;
            &:hover{
                background: #01509D;
                color: white;
                position: relative;
                z-index: 3;
            }
            &:before{
                content:"";
                position: absolute;
                left: 0px;
                top: 25%;
                transform: translateX(-25%);
                height: 50%;
                border-left: 1px solid #f2f2f2;
                transition: all .3s;
                .o(0);
                
            }

        }
        &.active{
            a,
            span{
                background: #093e80;
                &:hover{
                    background: #093e80;
                }
                position: relative;
            }
            ~ li.active{
                a,
                span{
                    &:before{
                        .o(1);
                        
                    }
                }
            }

        }
    }
    > li{
        &:last-child,
        &:first-child{
            > a,
            > span{
                .rounded(0);
            }
        }
    }
}

.pagination-top-wrapp{
    .pagination{
        padding: 5px;
        margin: 0;
        background: #f5f5f5;
    }
}

.sub-image-item{
    padding: 10px 20px;
    border: 1px solid #f2f2f2;
    &:not(:last-of-type){
        border-bottom: none;
    }
    cursor: pointer;
}

.product-wrapp{

    @media only screen and (max-width: @max-extrasmall-screen){
        padding: 0 10px;
    }
    .sub-images-wrapp{
        > div:first-child{
            height: 505px;
            @media only screen and (min-width: @min-medium-screen) and (max-width: @max-medium-screen){
                height: auto;
                padding-right: 60px;
                .sub-images-item-wrap{
                    margin-top: 10px;
                    margin-left: 4px;
                    margin-right: 3px;
                }
            }
            @media only screen and (max-width: @max-small-screen){
                height: auto;
                padding-right: 60px;
                .sub-images-item-wrap{
                    margin-top: 10px;
                    .sub-image-item{
                        padding: 10px;
                        margin-left: 7px;
                        margin-right: 7px;
                    }
                }
            }
            @media only screen and (max-width: @max-extrasmall-screen){
                padding-right: 0;
                .sub-images-item-wrap{
                    .sub-image-item{
                        margin-left: 1px;
                        margin-right: 2px;
                    }
                }
            }
        }
        
    }
    .compare-wrapp{
        padding: 0 40px;
        @media only screen (max-width: @max-medium-screen){
            padding-left: 0;
            padding-right: 60px;
            .df;
            margin-top: 15px;
            .flex-direction-row;
            .justify-content-between;
            .add-review-button{
                width: 45%;
                margin: 0;
            }
            .add-to-compare{
                width: 45%;
                margin: 0;
            }
        }
        @media only screen and (max-width: @max-extrasmall-screen){
            margin-bottom: 20px;
        }
    }
    .main-image-wrapp{
        >div{
            border: 2px solid #f2f2f2;
        }
        img{
            margin: 0 auto;
            outline: none;
        }
        @media only screen  and (max-width: @max-extrasmall-screen){
            padding-right: 0;
        }
    } 
    .tabs-container{
        > ul{
            background: #F4F2F5;
            .df;
            li{

                min-width: 50px;
                height: 40px;
                .df;
                .align-items-center;
                .justify-content-center;
                border-right: 1px solid #d7d7d7;
                &:first-child{
                    &.active{
                        border-left: 1px solid #f2f2f2;    
                    }
                }
                &.active{
                    background: white;

                    span{
                        display: inline-block;
                    }
                    a{
                        &:before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            left: 0;
                            top: 5px;
                            border-bottom: 5px solid #11437C;
                        }
                    }
                }
                a{
                    position: relative;
                    color: #636363;
                    height: 50px;
                    line-height: 50px;
                    min-width: 50px;
                    padding: 0 10px;
                    text-align: center;
                }
            }
        }
        .tab-container-content{
            > div{
                border: 1px solid #f2f2f2;
                padding: 10px 15px;
                max-height: 400px;
                overflow-y: auto;
                @media only screen and (min-width: @min-large-screen) and (max-width: @max-large-screen) {
                    max-height: 395px;
                }
                @media only screen and (min-width: @min-medium-screen) and (max-width: @max-medium-screen) {
                    max-height: 373px;
                }
            }
            #description{
                font-size: 14px;
                line-height: 20px;
            }
        }
        .wholesale-price{
            color: #9A6965;
        }
        .status{
            span {
                &:last-of-type{
                    color: green;
                }
            }
        }
    }
    .sizes-list{
        .size{
            margin-right: 5px;
            margin-bottom: 5px;
            .size-name{
                background: #333;
                padding: 10px;
                color: white;
                cursor: pointer;
                height: 45px;
                line-height: 25px;
                width: 45px;
                text-align: center;
                transition: all .5s;
                &.active{
                    + .size-value{
                        padding: 5px;
                        width: 100px;
                        border: 1px solid #ccc;
                    }
                }
                &.choosen{
                    width: 70px;
                    .size-amount {
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: red;
                        min-width: 20px;
                        height: 20px;
                        line-height: 20px;
                    }
                }
                .size-amount{
                    display: none;
                    
                }
            }

            input{
                width: 30px;
                outline: none;
                margin-left: 0;
                text-align: center;
            }
            &.disable{
                .size-name{
                    pointer-events: none;
                    background: #ccc;
                    color: #333;
                }
            }
            .size-value{
                padding: 0;
                transition: all .5s;
                width: 0;
                overflow: hidden;
            }
        }
    }
}
.star-rating{
    li{
        overflow: hidden;
    }
    .current-rating{
        overflow: hidden;
        height: 16px;
        background: url('/static/img/rating_on.svg');
    }
    &.small-star{
        .current-rating{
            height: 10px;
            background: url('/static/img/icon-star-small.png');
            &.empty{
                background: url('/static/img/icon-star-small-empty.png')
            }
        }
    }
}
.less-info{
    padding: 10px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    .image{
        height: 50px;
        .rounded(50%);
        overflow: hidden;
        margin-right: 10px;
        img{
            max-height: 40px;
            margin: 0 auto;
        }
    }
    .name{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .star-rating{
        margin-right: 10px;
        margin-top: 4px;
    }
    .reviews-amount{
        font-size: 13px;
    }
}

#share42{
    .df;
}
a[data-type]{
    margin: 0 ;
    margin-top: 15px;
    .df;
    .align-items-center;

    width: 50px !important;
    height: 35px !important;
    text-align: center;
    background: #818181;
    &:not(:last-child){
        border-right: 1px solid #ccc;
    }
    &:first-child{
        .rounded(3px 0 0 3px;)
    }
    &:last-child{
        .rounded(0 3px 3px 0;)
    }
    &:hover{
        background: #01509D;
    }
    svg{
        fill: white;
        height: 15px;
        margin: 0 auto;
    }
}
.btn-block + .btn-block{
    margin-top: 15px;
}

#reviewed_with_chains_form{
    width: 800px;
    background: white;
    transition: width .3s;
    margin-left: auto;
    margin-right: auto;
    
    overflow: auto;
    max-height: 70vh;

    padding: 20px;
    textarea{
        max-width: 100%;
        min-width: 100%;
    } 
    h1{
        margin-top: 0;
    }
    .review-rating-wrapper{
        ul{
            background: url('/static/img/icon-star-empty.png');
            width: 80px;
        }
        a{
            width: 16px;
            height: 16px;
        }
    }

    @media only screen and (min-width: @min-small-screen) and (max-width: @max-small-screen){
         width: 700px;
    }
    @media only screen and (max-width: @max-extrasmall-screen){
        max-width: 96%;
        height: 98vh;
        max-height: 100%;
    }

}

.analogous-wrapp{
    margin-top: 20px;
    margin-bottom: 60px;
    .analogous-title{
        font-size: 18px;
        text-align: center;
    }
    .analogous-list-wrapp{
        margin-top: 20px;
        .analogous-list{
            padding: 0 30px;
        }
        .slick-dots{
            position: absolute;
            left: 50%;
            .df;
            transform: translateX(-50%);
            bottom: -50px;
            li{
                button{
                    text-indent: -200px;
                    overflow: hidden;
                    width: 10px;
                    height: 10px;
                    border: 2px solid #01509D;
                    background: white;
                    .rounded(50px); 
                    padding: 0;
                }
                &:not(:last-child){
                    margin-right: 5px;
                }
                &.slick-active{
                    button{
                        background: #01509D;
                    }   
                }
            }

        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(50%);
            border-radius: 50%;
            height: 25px;
            width: 25px;
            border: none;
            background: #093e80;
            color: white;
            text-align: center;
            line-height: 25px;
            outline: none;
            transition: background .3s;
            &:before{
                content: attr(data-text);
                font-size: 32px;
                top: -6px;
                position: relative;
            }
            &.slick-prev{
                left: 0;
            }
            &.slick-next{
                right: 0;
            }
            &:hover,
            &:active,
            &:focus{
                background: #01509D;
            }
        }
        .analogous-item{
            .analogous-item-name{
                a{
                    color: #818181;
                    font-size: 13px;
                    text-align: center;
                    display: block;
                    margin-top: 10px;
                    
                }
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.white-popup{
    background: white;
}
.mfp-container{
    @media only screen and (max-width: @max-extrasmall-screen) {
        padding: 0;
    }
}

.modal-cart{
    max-width: 75%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    @media only screen and (min-width: @min-medium-screen) and (max-width: @max-medium-screen) {
        max-width: 85%;
    }
    @media only screen and (min-width: @min-small-screen) and (max-width: @max-small-screen) {
        max-width: 95%;
    }
    
    @media only screen and (max-width: @max-extrasmall-screen) {
        max-width: 96%;
        height: 98vh;
        max-height: 100%;
    }
    h1{
        margin-top: 0;
    }
    .continue-shopping{
        text-decoration: none;
        display: block;
        position: relative;
        padding-left: 35px;

        span{
            font-size: 34px;
            font-weight: bold;
            display: block;
            position: absolute;
            left: 0;
            top: -19px;
        }
    }
}
.cart-items-group{
    &:not(:first-child){
        border-top: 1px solid #ccc;
    }
    .cart-title-wrapp,
    .cart-number-wrapp,
    .cart-remove-wrapp,
    .cart-one-price-wrapp{
        border-right: 1px solid #ccc;
        padding: 10px;
    }
    .cart-title-wrapp{
        img{
            margin: 0 auto;
        }
        a{
            color: #333;
            text-decoration: underline;
            font-size: 16px;
        }
        @media only screen and (max-width: @max-extrasmall-screen){
            border-bottom: 1px solid #f2f2f2;
            border-right: none;
        }
    }
    .cart-number-wrapp{
        .cart-number-item{
            &:not(:last-child){
                border-bottom: 1px solid #f2f2f2;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            .cart-item-amount{
                display: block;
                text-align: center;
                margin: 0;
                height: 100%;
                outline: none;
            }
            @media only screen and (max-width: @max-extrasmall-screen){
                .flex-direction-column;
                > div{
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
    .cart-remove-wrapp{
        .cart-remove-item{
            &:not(:last-child){
                border-bottom: 1px solid #f2f2f2;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            button{
                border: none;
                background: transparent;
                color: #093e80;
                height: 33px;
                outline: none;
                &:hover{
                    color: #01509D;
                }
            }
        }
    }
}
.table-titles{
    background: white;
    z-index: 2 !important;
    padding: 10px 0;
    .is-sticky & {
        box-shadow: 0px 4px 4px -2px #ccc;
    }
}
.ui-spinner{
    width: 100%;
    padding-left: 25px;
    .ui-button{
        &:focus,
        &:active{
            background: #ededed;
            border: none;
        }
        .ui-button-icon{
            &:before{
                display: block;
                left: 0;
                color: #818181;
                z-index: 1;
                position: absolute;
                width: 100%;
                /* background: red; */
                height: 100%;
                line-height: 11px;
                text-indent: 0;
                font-size: 23px;
                font-weight: bold;
            }
        }
    }
    .ui-spinner-up{
        height: 100%;
        width: 20px;
        .ui-button-icon{
            background: none;
            &:before{
                content: "+";

            }
        }
    }
    .ui-spinner-down{
        border-right: 1px solid #c5c5c5 !important;
        left: 0;
        height: 100%;
        width: 20px;
        .ui-button-icon{
            background: none;
            &:before{
                content: "-";

            }
        }
    }
}

.account-info{

    .acoount-item-wrap{
        .label{
            color: black;
            font-size: 14px;
            text-align: left;
            color: #666;
            white-space: normal;
        }
    }
    ul{
        list-style-type: none;
        padding-left: 0;
    }
}
.account-menu{
    a{
        font-size: 16px;
        padding: 5px 20px ;
        display: block;
    }
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    li:hover{
        text-decoration: none;
        background-color: #eee;
        a{
            text-decoration: none;
            
        }
    }
}

.unstyled{
    list-style-type: none; 
    padding-left: 0;
    margin: 0;
}
.pointer-events-none{
    pointer-events: none;
}

.load-more{
    position: absolute;
    background: #fff;
    border: 2px solid #01509D;
    color: #01509D;
    text-decoration: none;
    top: 20px;
    left: 0;
    .rounded(0);
    i{
        transition: transform 1s;
    }
    &:hover{
        i{
            transform: rotate(360deg);   
        }
        color: #093e80;
        border-color: #093e80;
    }
}


.remove-cart-item{
    @media only screen and (min-width: @min-small-screen) and ( max-width: @max-small-screen){
        padding: 0;
    }
}

.checkout-form{

    .form-group{
        margin-left: 0;
        margin-right: 0;
    }

    @media only screen and (min-width: @min-small-screen) and (max-width: @max-small-screen){

    }
}
.orders-list{
    .sticky-wrapper{
        width: 100% !important;
    }
    .order-item{
        padding: 10px 0;
        font-size: 16px;
        &:not(:last-child){
            border-bottom: 1px solid #ccc;
        }
    }
    .order-item-titles{
        font-weight: bold;
        
    }
}
.checkout-form,
.product-wrapp,
.orders-list{
    *,
    div{
        transition: width .5s;
    }
}
.container{
    transition: width .5s;
}
.border-bottom-ccc{
    border-bottom: 1px solid #ccc;
}

.news-item{
    border: 1px solid #ccc;
    box-shadow: 0 3px 32px -6px #ccc;
    &:not(:first-child){
        margin-top: 30px;
    }
}
.info-page-full-text{
    a{
        outline: none;
    }
}

.scroll-table{
    overflow: auto;
    max-width: 100%;
}

.comparison{
    td{
        min-width: 300px;
        &:first-child{
            max-width: 200px;
        }
    }
    .comparison-remove-product{
        position: absolute;
        right: -35px;
    }
}
.table-scrollable{
    max-width: 100%;
    overflow: auto;
}