{% load i18n %}
{% load bootstrap3 %}
{% if review_form %}
<h2 class="mt0">{% trans 'Add reply' %}</h2>
<div class="add-reply__parent-review mb15 mt10 df flex-direction-column align-items-start">
    <span class="fz18 mr7">{% trans 'Review' %}: </span> 
    <span class="fz16 js-add-reply__parent-review-content add-reply__parent-review-content"></span>
    <a href="#" class="js-add-reply__show-full-review" style="display: none;" data-showed-text="{% trans 'Hide'%}" data-hidded-text="{% trans 'Show' %}">{% trans "Show" %}</a></div>
<form action="" method="POST" data-review-id="{{ review_id }}" id="review_with_chains_form_{{ review_id }}">
    <input type="hidden" name="review_id" id="id_review_id" value="{{ review_id }}"/>
    <input type="hidden" name="receive_notifications" id="id_receive_notificationst" value="true">
    {% bootstrap_form review_form %}
    <input type="hidden" name="reviews_type" id="id_reviews_type" value="{{reviews_type}}"/>
    <button type="button" class="btn btn-blue"  onclick="add_reply('reviews', {{ review_id }})">{% trans 'Add reply' %}</button>
</form>
{% endif %}