{% load reviews_tags %}
{% load i18n %}
<div class="cw-100 reviews  xs-pl15 xs-pr15">
    <div class="reviews-group-by-parent" style="display:none" data-value="1"></div>
    <div class="questions-group-by-parent" style="display:none" data-value="1"></div>
    <div id="site-reviews">
    <p class="h2">{% trans 'Reviews' %}</p> 
        <div class="white">
            <div class="row-fluid">
                {% rwc_average_rating_for_instance site %}
                <div class="span12">
                    <div class="model-reviews" id="model-reviews">
                        {% reviews_with_chains site 1 'reviews' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="reviewed_with_chains_form"></div>
<div class="df justify-content-between xs-pl15 xs-pr15">
    <a href="#reviewed_with_chains_form" class="add-review-button mt9 btn btn-blue js-add-review-button">{% trans "Add review" %}</a>
    <a href="{% url 'reviewed_with_chains_site_reviews' %} " class="add-review-button js-all-reviews-btn mt9 btn btn-blue btn-all-reviews dn">{% trans 'All reviews' %}</a>
</div>