{% extends 'base.html' %}
{% load i18n %}

	{% block content %}
		<div class="xs-pl15 xs-pr15">
			<h1>{% trans 'Reviews' %}</h1>
		</div>
	{% endblock content %}
{% block reviews %}
    <section class="mb30">
        <div class="container">
            <div class="row df flex-direction-column">
                {% include 'reviewed_with_chains/reviews_block.html' %}
                <div class="xs-pl15 xs-pr15">
	                <a href="#reviewed_with_chains_form" class="add-review-button btn-block mt9 btn btn-blue js-add-review-button">{% trans "Add review"%}</a>
                </div>
                <div id="reviewed_with_chains_form"></div>
            </div>
        </div>
    </section>
{% endblock reviews %}