{% extends "base.html" %}
{% load bootstrap3 %}
{% load recaptcha2 %}
{% block content %}
<div class="col-sm-6">
	<form class="form" action="" method="POST">
		{% csrf_token %}
		<input type="hidden" name="action" value="login">
		{% bootstrap_form login_form %}
		<button type="submit" class="btn btn-blue btn-block">Login</button>
	</form>
	<a href="{% url 'user_password_reset' %}">Reset password</a>
</div>
<div class="col-sm-6">
{% recaptcha_init 'ru' %}

	<form class="form" action="" method="POST">
		{% csrf_token %}
		<input type="hidden" name="action" value="register">
		{% bootstrap_form register_form %}
		<button type="submit" class="btn btn-blue btn-block">Register</button>
	</form>
</div>
{% endblock content %}