{% load i18n %}{% autoescape off %}

<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <table width="600" style="background : #f2f2f2">
            <tbody>
                <tr>
                    <td style="padding-left: 20px;">
                    <br>
                        <a href="#"><img src="/static/img/yas_logo.png" alt="YAS-Poltava"></a>
                        <br>
                    </td>
                    <td >
                        <div>
                            <p style="display: inline-block; margin-right: 20px;"><a href="tel:+380660066621">+380660066621</a></p>
                            <p style="display: inline-block"><a href="tel:+380660066621">+380660066621</a></p>
                            <br>
                            <p style="display: inline-block; margin-right: 20px;"><a href="tel:+380660066621">+380660066621</a></p>
                            <p style="display: inline-block"><a href="tel:+380660066621">+380660066621</a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background: white; text-align: center;">
	                    <br>
	                    <h2>{% trans 'Hello' %}, {{ user.first_name }}!</h2>
                        <p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>

                        <p>{% trans "Please go to the following page and choose a new password:" %}</p>
                        {% block reset_link %}
                        	<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
                        {% endblock %}
                        <p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

                        <p>{% trans "Thanks for using our site!" %}</p>

                        <br>
                        <br>
                    </td>
                <tr>
                    <td colspan="2" style="padding-left: 20px; ">
                    <br>
                        <p>{% trans 'Sincerely, the team' %} "Yas Poltava"</p>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>


{% endautoescape %}
