{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block bodyClass %}
    password-reset-confirm
{% endblock bodyClass %}
{% block content %}

{% if validlink %}

	<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

	<form method="post">{% csrf_token %}
		{# {{ form.new_password1.errors }} #}
		<p class="aligned wide">{% bootstrap_field form.new_password1 %}</p>
		{# {{ form.new_password2.errors }} #}
		<p class="aligned wide">{% bootstrap_field form.new_password2 %}</p>
		<p><button type="submit" class=" btn btn-blue">{% trans 'Change my password' %}</button></p>
		</form>

{% else %}

	<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
